<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>
<div class="container-fluid">
    <div class="row mb-2">
        <div class="col">
            <h5><strong>OPERACIONES CON MONEDAS EXTRANJERAS</strong></h5>
        </div>
        <div class="col-auto">
            <button class="btn btn-sm indev-bg-success" data-bs-toggle="modal" data-bs-target="#frmNewOperationsModal">
                <i class="pi pi-plus"></i>
                <span class="px-2"><strong>Nuevo</strong></span>
            </button>
        </div>
    </div>
    <div class="row" *ngIf="message_list">
        <div class="col-12">
            <small><strong>{{message_list}}</strong></small>
        </div>
    </div>
    <div class="row" *ngIf="!message_list">
        <div class="col-12">
            <p-table [value]="list_currency_operations" styleClass="p-datatable-sm" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Banco</th>
                        <th>Ciudad</th>
                        <th>Pais</th>
                        <th>Moneda</th>
                        <th>Numero de cuenta</th>
                        <th style="width: 2rem;"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-operation>
                    <tr>
                        <td>{{operation.bank}}</td>
                        <td>{{operation.city}}</td>
                        <td>{{operation.country}}</td>
                        <td>{{operation.currency}}</td>
                        <td>{{operation.number_account}}</td>
                        <td>
                            <button class="btn btn-sm rounded-circle btn-danger" (click)="confirm_delete($event,operation)">
                                <i class="pi pi-times"></i>
                            </button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

  
  <!-- Modal -->
  <div class="modal fade" id="frmNewOperationsModal" tabindex="-1" aria-labelledby="frmNewOperationsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="frmNewOperationsModalLabel">Nueva operacion</h5>
        </div>
        <div class="modal-body">
            <p-toast key="toast_modal"></p-toast>
          <form #frmNewOperations="ngForm" class="px-3">
              <div class="form-row">
                  <div class="col-12 mb-2 indev-input">
                      <h5>BANCO</h5>
                      <input type="text" pInputText name="inputBank" #bank="ngModel" [(ngModel)]="currency_operation.bank" required>
                      <small *ngIf="bank.invalid || (bank.invalid && bank.touched)" class="text-danger"><strong>El campo no es valido</strong></small>
                  </div>
                  <div class="col-12 mb-2 indev-input">
                    <h5>CIUDAD</h5>
                    <input type="text" pInputText name="inputCity" #city="ngModel" [(ngModel)]="currency_operation.city" required>
                    <small *ngIf="city.invalid || (city.invalid && city.touched)" class="text-danger"><strong>El campo no es valido</strong></small>
                </div>
                <div class="col-12 mb-2 indev-input">
                    <h5>PAIS</h5>
                    <input type="text" pInputText name="inputCountry" #country="ngModel" [(ngModel)]="currency_operation.country" required>
                    <small *ngIf="country.invalid || (country.invalid && country.touched)" class="text-danger"><strong>El campo no es valido</strong></small>
                </div>
                <div class="col-12 mb-2 indev-input">
                    <h5>MONEDA</h5>
                    <input type="text" pInputText name="inputCurrency" #currency="ngModel" [(ngModel)]="currency_operation.currency" required>
                    <small *ngIf="currency.invalid || (currency.invalid && currency.touched)" class="text-danger"><strong>El campo no es valido</strong></small>
                </div>
                <div class="col-12 indev-input">
                    <h5>NUMERO DE CUENTA</h5>
                    <input type="text" pInputText name="inputNumberAccount" #number_account="ngModel" [(ngModel)]="currency_operation.number_account" required>
                    <small *ngIf="number_account.invalid || (number_account.invalid && bank.touched)" class="text-danger"><strong>El campo no es valido</strong></small>
                </div>
              </div>
          </form>
        </div>
        <div class="modal-footer">
          <p-button icon="pi pi-times" [styleClass]="'p-button-danger p-button-sm'" data-bs-dismiss="modal"></p-button>
          <button pButton label="Guardar" type="button" (click)="OnSubmit()" icon="pi pi-check" class="indev-bg-success border-0 p-button-sm" iconPos="left" [disabled]="frmNewOperations.invalid"></button>
        </div>
      </div>
    </div>
  </div>
