<div class="container">
    <h3 class="font-primary">{{app_name}}</h3>
    <div class="menu mt-5">
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="pill" [routerLink]="['/master']">
                <h5>
                    <i class="pi pi-users"></i> Asociados
                </h5>
              </a>
            </li>
            <li class="nav-item font-primary">
                <a class="nav-link" data-toggle="pill">
                    <h5>
                        <i class="pi pi-folder-open"></i> Pagares
                    </h5>
                </a>
            </li>
            <li class="nav-item font-primary">
                <a class="nav-link" data-toggle="pill" href="#">
                <h5>
                    <i class="pi pi-cog"></i> Ajustes
                </h5>
                </a>
            </li>
            <li class="nav-item font-primary mt-5">
                <a class="nav-link" data-toggle="pill" href="#" (click)="OnLogout()">
                <h5>
                    <i class="pi pi-sign-out"></i> Cerrar sesion
                </h5>
                </a>
            </li>
          </ul>
          
    </div>
</div>