<div class="content h-100 d-sm-flex d-block">
    <div class="nav-side h-100 bg-light shadow px-2 py-4">
        <app-nav-side></app-nav-side>
    </div>
    <div class="app-body d-inline">
        <div class="nav-bar d-sm-block d-none">
            <app-nav-bar></app-nav-bar>
        </div>
        <div class="app-content mt-2">
            <div class="container">
                <router-outlet></router-outlet>
                <ngx-spinner bdColor="rgba(242, 242, 242, 0.8)" color="rgba(54, 174, 124, 1)" type="ball-fussion"></ngx-spinner>
            </div>
        </div>
    </div>
    
</div>