<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <!--DISEÑO DEL PERFIL BASICO-->
                    <div class="row">
                        <div class="col-auto">
                            <img src="/assets/multimedia/img/user.png" alt="Imagen usuario" width="150" height="150">
                        </div>
                        <div class="col-8">
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="font-primary">
                                        Kevin E. Martinez Campo
                                        <span class="badge badge-warning" style="font-size: 10pt;">Activo</span>
                                    </h5>
                                    <small class="text-primary">
                                        <i class="pi pi-user mr-2"></i><strong>UID: 10065378483</strong>
                                    </small>
                                    <div class="description mt-3">
                                        <div class="row">
                                            <div class="col-6">
                                                <span><strong>Fecha de nacimiento:</strong></span>
                                            </div>
                                            <div class="col-6">
                                                <span>02/09/1999 (23 años)</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <span><strong>Ubicacion actual:</strong></span>
                                            </div>
                                            <div class="col-6">
                                                <span>Valledupar - Cesar</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <span><strong>Contacto:</strong></span>
                                            </div>
                                            <div class="col-6">
                                                <span>(+57) 3243298563</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <span><strong>Ultima actualizacion:</strong></span>
                                            </div>
                                            <div class="col-6">
                                                <span>02/09/1999 (Hace 3 meses)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <h5>Informacion del asociado</h5>
        </div>
    </div>
    <div class="row py-3">
        <div class="col">
            <p-tabView [styleClass]="'shadow'">
                <p-tabPanel header="Datos personlaes" [headerStyleClass]="'text-dark'">
                   <app-personal-informations></app-personal-informations>
                </p-tabPanel>
                <p-tabPanel header="Datos de ubicacion">
                    Content 2
                </p-tabPanel>
                <p-tabPanel header="Informacion de la empresa">
                    Content 3
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>

