
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card border-0 shadow">
                <div class="card-body" *ngIf="associate">
                    <!--DISEÑO DEL PERFIL BASICO-->
                    <div class="row">
                        <div class="col-auto">
                            <img src="/assets/multimedia/img/user.png" alt="Imagen usuario" width="100" height="100">
                        </div>
                        <div class="col-8">
                            <div class="row">
                                <div class="col-12">
                                    <h5>
                                        {{associate.names}} {{associate.surname_1}} {{associate.surname_2}}
                                        <span class="badge badge-warning" style="font-size: 10pt;">{{associate.modelTypeStatus.concept}}</span>
                                    </h5>
                                    <small class="text-primary">
                                        <i class="pi pi-user mr-2"></i><strong>UID: {{associate.number_identity}}</strong>
                                        <span class="text-dark ml-4"><i class="pi pi-map-marker mr-2"></i><strong>Valledupar</strong></span>
                                    </small>
                                    <div class="description mt-3">
                                        <div class="row">
                                            <div class="col-4">
                                                <span><strong>Ultima actualizacion:</strong></span>
                                            </div>
                                            <div class="col">
                                                <span>{{associate.update_data?associate.update_data:'---'}} ({{associate.onUser?associate.onUser.names:'---'}})</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <h5>Informacion del asociado</h5>
        </div>
    </div>
    <div class="row py-3">
        <div class="col">
            <p-tabMenu [model]="menu_items" [scrollable]="true"></p-tabMenu>
            <div class="content-menu">
                <div class="card">
                    <div class="card-body">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

