<p-toast></p-toast>
<!--MODAL APORTES DEL ASOCIADO-->
<div class="modal fade" id="contributionsModal" tabindex="-1" aria-labelledby="contributionsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
            <h3>Ingresar aportes</h3>
            <form class="mt-2" #frmContributions="ngForm" (ngSubmit)="UpdateContributions()">
                <div class="form-row">
                    <div class="col indev-input">
                        <h5><strong>APORTES ORDINARIOS</strong></h5>
                        <p-inputNumber name="inputOrdinaryContribution" #ordinary_contribution="ngModel" [(ngModel)]="contributions.ordinary_contribution" [required]="true"></p-inputNumber>
                    </div>
                    <div class="col indev-input">
                        <h5><strong>C. DE ADMISION</strong></h5>
                        <p-inputNumber name="inputAdmissionFee" #admission_fee="ngModel" [(ngModel)]="contributions.admission_fee" [required]="true"></p-inputNumber>
                    </div>
                </div>
                <hr>
                <div class="form-row mt-2">
                    <div class="col-auto">
                        <button pButton class="p-button-danger p-button-sm" type="button" label="Cancelar" icon="pi pi-close" iconPos="left" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="col-auto">
                        <button pButton class="p-button-success p-button-sm" type="submit" label="Guardar cambios" icon="pi pi-save" iconPos="left" [disabled]="frmContributions.invalid"></button>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
<!--FIN MODAL-->
<div class="container" *ngIf="associate">
    <div class="row">
        <div class="col-md-7">
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    <!--DISEÑO DEL PERFIL BASICO-->
                    <div class="row">
                        <div class="col-auto">
                            <img src="/assets/multimedia/img/user.png" alt="Imagen usuario" width="100" height="100">
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col">
                                            <small class="text-primary">
                                                <i class="pi pi-user mr-2"></i><strong>UID: {{associate.number_identity}}</strong>
                                                <span class="ml-2 px-2 rounded-pill" [ngClass]="{'indev-bg-success':associate.modelTypeStatus.code === 'A',
                                                'indev-bg-warning':associate.modelTypeStatus.code === 'P',
                                                'indev-bg-danger':associate.modelTypeStatus.code === 'R'}">
                                                    <strong>{{associate.modelTypeStatus.concept}}</strong></span>
                                            </small>
                                            <p><strong>{{associate.names}} {{associate.surname_1}} {{associate.surname_2}}</strong></p>
                                        </div>
                                        <div class="col">
                                            <span><strong>Actualizado:</strong></span>
                                            <br>
                                            <span>{{associate.update_data?associate.update_data:'---'}} ({{associate.onUser?associate.onUser.names:'---'}})</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="contributions">
                                                <button pButton type="button" icon="pi pi-external-link" iconPos="right" 
                                                    label="Aportes" class="p-button-sm p-button-warning" data-bs-toggle="modal" data-bs-target="#contributionsModal"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="card indev-bg-success border-0 shadow-sm">
                <div class="card-body">
                    <h5>Exportar informacion</h5>
                    <form #frmExport="ngForm" (ngSubmit)="ExportFormat(frmExport)">
                        <div class="form-row">
                            <div class="col-6 indev-input">
                                <p-dropdown [options]="types_requets" [styleClass]="'indev-p-dropdown'" name="inputTypeSolicitud" optionLabel="request" #type_solicitud="ngModel" [(ngModel)]="optionsExport.typeFormat" 
                                    optionValue="request" placeholder="TIPO SOLICITUD" [required]="true"></p-dropdown>
                            </div>
                            <div class="col-6 indev-input">
                                <p-dropdown [options]="types_locations" [styleClass]="'indev-p-dropdown'" name="inputLocation" optionLabel="location" #type_solicitud="ngModel" [(ngModel)]="optionsExport.location" 
                                    optionValue="location" placeholder="CIUDAD" [required]="true"></p-dropdown>
                            </div>
                        </div>
                        <div class="from-row mt-2">
                            <div class="col-auto">
                                <button pButton class="p-button-warning p-button-sm" type="submit" label="Generar formato" icon="pi pi-save" iconPos="left" [disabled]="frmExport.invalid"></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <h4><strong>Informacion del asociado</strong></h4>
        </div>
    </div>
    <div class="row py-3">
        <div class="col">
            <p-tabMenu [model]="menu_items" [scrollable]="true"></p-tabMenu>
            <div class="content-menu">
                <div class="card">
                    <div class="card-body">
                        <router-outlet></router-outlet>
                    </div>
                </div>
                <ngx-spinner bdColor="rgba(242, 242, 242, 0.8)" color="rgba(54, 174, 124, 1)" type="ball-fussion"></ngx-spinner>
            </div>
        </div>
    </div>
</div>

