<div class="container-fluid" *ngIf="list_associates">
    
    <div class="row">
        <div class="col-12">
            <h4 class="font-primary">
                <strong>Lista de asociados</strong>
            </h4>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-auto">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text" pInputText name="inputSearch" #inputSearch = "ngModel" [(ngModel)]="params_search" placeholder="Search">         
            </span>
        </div>
        <div class="col-auto">
            <button pButton type="button" label="Nuevo" class="p-button-success"></button>
        </div>
    </div>
    <div class="card shadow" *ngIf = "true">
        <p-table [value]="list_associates" [scrollable]="true" scrollHeight="400px">
            <ng-template pTemplate="header">
                <tr>
                    <th>Estado</th>
                    <th>Tipo ID</th>
                    <th>Identificación</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Ult. Actualización</th>
                    <th style="width:2rem"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-associate>
                <tr>
                    <td>
                        <span class="badge rounded-pill p-2" [ngClass]="{'indev-bg-success':associate.modelTypeStatus.code === 'A',
                                                                         'indev-bg-warning':associate.modelTypeStatus.code === 'X',
                                                                         'indev-bg-danger':associate.modelTypeStatus.code === 'R'}">
                            {{associate.modelTypeStatus.concept}}
                        </span>
                    </td>
                    <td>{{associate.type_identity}}</td>
                    <td>{{associate.number_identity}}</td>
                    <td>{{associate.names}}</td>
                    <td>{{associate.surname_1}} {{associate.surname_2}}</td>
                    <td>{{associate.update_data}}</td>
                    <td>
                        <button type="button" class="p-button-rounded btn-view border-0" pButton icon="pi pi-eye" [routerLink]="['associate/details', associate.number_identity]"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>
