<div class="container-fluid">
    <h4 class="font-primary">
        <strong>Lista de asociados</strong>
    </h4>
    <div class="card border-0">
        <div class="card-body">
            <div class="row">
                <div class="col-md-1">
                    <strong>Tipo ID</strong>
                </div>
                <div class="col-md-2">
                    <strong>No. Identificación</strong>
                </div>
                <div class="col-md-2">
                    <strong>Nombres</strong>
                </div>
                <div class="col-md-2">
                    <strong>Apellidos</strong>
                </div>
                <div class="col-md-2">
                    <strong>Ult. Actualización</strong>
                </div>
                <div class="col-md-2">
                    <strong>Estado</strong>
                </div>
            </div>
        </div>
    </div>

    <div class="card border-0 mt-3">
        <div class="card-body">
            <div class="row border-bottom py-4">
                <div class="col-md-1">
                    <p>CC</p>
                </div>
                <div class="col-md-2">
                    <p>1065853626</p>
                </div>
                <div class="col-md-2">
                    <p>KEVIN E</p>
                </div>
                <div class="col-md-2">
                    <P>MARTINEZ CAMPO</P>
                </div>
                <div class="col-md-2">
                    <p>Hace 2 meses</p>
                </div>
                <div class="col-md-2">
                    <p-chip>
                        Content
                    </p-chip>
                </div>
                <div class="col-md-1">
                    <p>Edit</p>
                </div>
            </div>
        </div>
    </div>

</div>
