<ul class="nav justify-content-end py-2">
    <li class="nav-item">
      <div class="user pr-5" *ngIf="username">
        <a class="d-flex text-dark text-decoration-none" href="#">
            <p-avatar label="{{IconUser()}}" styleClass="border border-dark" size="large" shape="circle"></p-avatar>
            <span class="px-2"><strong style="font-size: 14pt;">{{username}}</strong>
                <br>
                <span class="text-secondary">{{user_role}}</span>
            </span>
        </a>
    </div>
    </li>
  </ul>
