@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
/* You can add global styles to this file, and also import other style files */

/*
    VERDE PRIMARIO: 007965
    
    AMARILLO PRIMARIO: FFC947
*/
html, body{
    height: 100%;
    margin: 0;
    background-color: #E4EFE7;
    font-size: 10pt;
}


/*FONT STYLES*/
.font-primary{
    font-family: 'Secular One', sans-serif;
    font-size: 25pt;
}

/*BACKGROUND STYLES*/
.indev-bg-success {
    background-color: #007965 !important; 
    color: #ffffff !important;
}
.indev-bg-danger{
    background-color: #FF6363 !important;
    color: #ffffff;
}
.indev-bg-warning{
    background-color: #F8B400 !important;
    color: #ffffff;
}

.indev-input input, .indev-input .indev-p-dropdown, .indev-input .indev-calendar{
    width: 100%;
    background-color: #f8f6f6 !important;
    border-color: 1px solid #949494 !important;
    font-size: 12pt !important;
}

.indev-input h5{
    color: #242424 !important;
}


